<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include ("./partials/head",{title: "Detalle de producto" ,bootstrapActive: true})%>

  <body>
    <!-- header -->
    <%- include ("./partials/header") %>

      <h2 class="tituloSeccion">Pizzas</h2>
      <section class="seccionPizza" id="pizza" category="Pizzas">

        <div class="variedades">
          <% productos.filter(p => p.category.toLowerCase() === 'pizzas').forEach(p=> {%>
            <article>
              <figure>
                <img src="<%= p.image %>" alt="">
              </figure>

              <h4>
                <%= p.name %>
              </h4>

              <div class="price-discount">
                <span>$<%= p.price %></span>
                <span>
                  <%= p.discount ? p.discount + '% OFF' : '' %>
                </span>
              </div>

              <div class="botones">
                <button><a href=""></a>Detalle</button>
                <button><a href="./productCart.ejs"></a>Agregar</button>
              </div>
            </article>

            <% }) %>
        </div>

      </section>


      <h2 class="tituloSeccion">HAMBURGUESAS</h2>
      <section class="seccionHamburguesa" id="hamburguesa" category="hamburguesas">
        <div class="variedades">

          <% productos.filter(p => p.category.toLowerCase() === 'hamburguesas').forEach(p=> {%>
          
            <article>
              <figure>
                <img src="<%= p.image %>" alt="">
              </figure>

              <h4>
                <%= p.name %>
              </h4>

              <div class="price-discount">
                <span>$<%= p.price %></span>
                <span>
                  <%= p.discount ? p.discount + '% OFF' : '' %>
                </span>
              </div>

              <div class="botones">
                <button><a href=""></a>Detalle</button>
                <button><a href="./productCart.ejs"></a>Agregar</button>
              </div>
            </article>

            <% }) %>
        </div>

      </section>

      <h2 class="tituloSeccion">PAPAS FRITAS</h2>
      <section class="seccionPapas" id="papas" category="Papas Fritas">

        <div class="variedades">
          <% productos.filter(p => p.category.toLowerCase() === 'papas fritas').forEach(p=> {%>
            <article>
              <figure>
                <img src="<%= p.image %>" alt="">
              </figure>

              <h4>
                <%= p.name %>
              </h4>

              <div class="price-discount">
                <span>$<%= p.price %></span>
                <span>
                  <%= p.discount ? p.discount + '% OFF' : '' %>
                </span>
              </div>

              <div class="botones">
                <button> <a href=""></a>Detalle</button>
                <button><a href="./productCart.ejs"></a>Agregar</button>
              </div>
            </article>

            <% }) %>
        </div>

      </section>

      <%- include ("./partials/footer") %>

        <!--Boostrap script-->
        <%- include ("./partials/scripts") %>
  </body>

</html>